{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/team.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Calendar</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
    <div class="container">
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>Mclean High School Model United Nations (MCMUNC)</h4></li>
                    <ul>
                        <li><p> October 25 - 26, 2019</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>William and Mary High School Model United Nations (WMHSMUN)</h4></li>
                    <ul>
                        <li><p> November 22 - 24, 2019</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>Chantilly High School Model United Nations (CHMUN)</h4></li>
                    <ul>
                        <li><p> January 10 - 11, 2020</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>Ivy League Model United Nations Conference (ILMUNC)</h4></li>
                    <ul>
                        <li><p> January 30 - February 2, 2020</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>North American Invitational Model United Nations (NAIMUN)</h4></li>
                    <ul>
                        <li><p> February 13 - 16, 2020</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>Virginia Invitational Model United Nations Conference (VIMUNC)</h4></li>
                    <ul>
                        <li><p> March 6 - 7, 2020</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
        <div class="more-features-box-text">
            <div class="more-features-box-text-description">
                <ul class="awards-content">
                    <li><h4>Thomas Jefferson High School for Science and Technology Model United Nations (TechMUN)</h4></li>
                    <ul>
                        <li><p> April 24 - 25, 2020</p></li>
                    <ul>
                </ul>       
            </div>
        </div>
    </div>
</section>

{% endblock %}