{% extends 'base.html' %}

{% load static %}

{% block background %}
{% static 'img/tjmun2020.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">TJHSST Model United Nations</h1>
<p style="font-size: 26px;">TechMUN XXVIII</p>
<p style="font-size: 20px; padding-top: 10px; margin-bottom: 0px;">April 24th - April 25th, 2020</p>
<!--<a href="https://docs.google.com/forms/d/1T0feuZGPBw-Tf8ZoVJiiMSMfl2XX4_Npnuutls9-0lU" style="margin-top: 20px;" class="btn btn-appoint">Registration</a>-->
<a href="#covid19" style="margin-top: 20px;" class="btn btn-appoint">Registration</a>
{% endblock %}

{% block main %}
<section id="covid19" class="section-padding">
    <div class="container">
        <div class="row">
            <h2 class="ser-title">COVID-19 Update</h2>
            <hr class="botm-line">
            <p>We regret to inform you that TECHMUN XXVIII will be cancelled due to COVID-19. Schools that have already registered will be contacted to receive refunds in accordance with their wishes. We apologize for the inconvenience and thank you for your interest in our conference.</p>
        </div>
    </div>
</section>
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Model UN</h2>
                <hr class="botm-line">
                <p>Model United Nations encompasses a simulation of the UN whereby students engage in political debate to tackle current global issues on the agenda. Based on their committees, students are assigned a delegate and are tasked with preparing draft resolutions, negotiating with others, and resolving conflicts while following proper parliamentary procedure.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-gavel"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Leadership</h4>
                        <p>Our delegates possess leadership skills that enable them to command and lead blocs in committee while maintaining successful relations with others. </p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-institution"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Public Policy</h4>
                        <p>Delegates inquire about specific public polities and implement various others to directly resolve issues in their committee's agenda. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Diplomacy</h4>
                        <p>Delegates manage international relations through negotiations and handle affairs effectively without arousing hostility. </p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Research</h4>
                        <p>Students research respective topics for their committee to develop a strong background and foundation leading to success. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->
<!--cta-->
<!--
<section id="cta-1" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="schedule-tab">
            <div class="col-md-4 col-sm-4 bor-left">
                <div class="mt-boxy-color"></div>
                <div class="medi-info">
                    <h3>TechMUN</h3>
                    <p>TJMUN's local conference held in the Alexandria area during April. Offers a competitive environment for delegates to flourish. </p>
                    <a href="#" class="medi-info-btn">READ MORE</a>		    	
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="medi-info">
                    <h3>MUN 101</h3>
                    <p>Offers a general picture run-down of Model United Nations as a club at Thomas Jefferson High School for Science and Technology.</p>
                    <a href="#" class="medi-info-btn">READ MORE</a>	
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mt-boxy-3">
                <div class="mt-boxy-color"></div>
                <div class="time-info">
                        <h3>Opening Hours</h3>
                        <table style="margin: 8px 0px 0px;" border="1">
                            <tbody>
                                <tr>
                                <td>Monday - Friday</td>
                                <td>8.00 - 17.00</td>
                                </tr>
                                <tr>
                                <td>Saturday</td>
                                <td>9.30 - 17.30</td>
                                </tr>
                                <tr>
                                <td>Sunday</td>
                                <td>9.30 - 15.00</td>
                                </tr>
                            </tbody>
                        </table>				    		
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
-->
<!--cta-->
<!--about-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                  <h2 class="head-title lg-line">The Ultimate<br>TJMUN Goal</h2>
                  <hr class="botm-line">
                  <p class="sec-para">To inspire and spread the splendors of Model United Nations to others while enhancing delegate performance..</p>
                  <!--
                  <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
              -->
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
               <div style="visibility: visible;" class="col-sm-9 more-features-box">
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                    <div class="more-features-box-text-description">
                        <h3>Our delegates compete at the national level.</h3>
                        <p>Despite tremendous competition and rigor at national conferences, our delegates manage to perform magnificently. Through these conferences, our delegates master effective speaking skills while collaborating with others. </p>
                    </div>
                  </div>
                  <div class="more-features-box-text">
                    <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                    <div class="more-features-box-text-description">
                        <h3>TechMUN is one of the best local conferences.</h3>
                        <p>Our annual conference, TechMUN, is one of the most attended conferences in the area. Months of preparation and planning are devoted towards TechMUN so that it is the best experience for participating delegates.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ about-->
<!--TJMUN Secretariat-->
<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Meet Our Secretariat!</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-3 col-xs-6">
              <div class="thumbnail"> 
                  <img src="{% static 'img/philip.jpg' %}" alt="..." class="team-img">
                <div class="caption">
                  <h3>Philip Pan</h3>
                  <p>Secretary-General</p>
                  <!--
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              -->
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-6">
              <div class="thumbnail"> 
                  <img src="{% static 'img/evan.jpg' %}" alt="..." class="team-img">
                <div class="caption">
                  <h3>Evan Williams</h3>
                  <p>Undersecretary-General</p>
                  <!--
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              -->
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-6">
              <div class="thumbnail"> 
                  <img src="{% static 'img/rhosh.jpg' %}" alt="..." class="team-img">
                <div class="caption">
                  <h3>Rhoshini Raghuraman</h3>
                  <p>Senator</p>
                  <!--
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  -->
                </div>
              </div>
            </div>

            <!--
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="thumbnail"> 
                  <img src="img/atharv_gupta2.jpg" alt="..." class="team-img">
                <div class="caption">
                  <h3>Atharv Gupta</h3>
                  <p>Arbitrator</p>
                  
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  
                </div>
              </div>
            </div>
        -->

        </div>
    </div>
</section>
<!--/ doctor team-->
<!--testimonial-->


<!--/ testimonial-->
<!--cta 2-->
<!--
<section id="cta-2" class="section-padding">
    <div class="container">
        <div class=" row">
            <div class="col-md-2"></div>
            <div class="text-right-md col-md-4 col-sm-4">
              <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
            </div>
            <div class="col-md-4 col-sm-5">
                  TJMUN's annual conference, TechMUN is known as one of the best local conferences in the region.
              <p class="text-right text-primary"><i style="color: #0099c3">— TJMUN</i></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
-->
<!--cta-->
<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Contact us</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
              <h3>Contact Info</h3>
              <div class="space"></div>
              <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>6560 Braddock Rd,<br>
                Alexandria, VA 22312</p>
              <div class="space"></div>
              <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>tjmodelun@gmail.com</p>
              <div class="space"></div>
              <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>(703)-585-8284</p>
            </div>
            <div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info" style="margin-top: -80px;">
                        <h3 class="cnt-ttl">Having Any Query! Or Want to Contact Us</h3>
                        <div class="space"></div>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            
                            <div class="form-action">
                                <button type="submit" class="btn btn-form">Send Message</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}