{% extends 'base.html' %}

{% load static %}

{% block background %}
{% static'img/officers2020.jpg' %} 
{% endblock %} 

{% block title %}
<h1 class="white">Leadership</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
    <div class="container">
        <div class="more-features-box-text-description" style="font-size: 18px; line-height: 30px;">
            <h3 style="text-align: center;"> TJMUN Competition Team Leadership 2019-2020 </h3>
            <div class="leadership-format">
                <h4><i style="color: gray;">Secretary General: </i><p style="color: rgb(0, 89, 192);">Lisa Raj</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Undersecretary General: </i><p style="color: rgb(0, 89, 192);">Kaleena Roeva</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Senator: </i><p style="color: rgb(0, 89, 192);">Vikram Raghu</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Arbitrator: </i><p style="color: rgb(0, 89, 192);">Nathan Mo</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Activities Coordinator: </i><p style="color: rgb(0, 89, 192);">Tanish Jain</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Fundraising Coordinator: </i><p style="color: rgb(0, 89, 192);">Alex Fall</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Crisis Czar: </i><p style="color: rgb(0, 89, 192);">Adit Pareek</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Historian: </i><p style="color: rgb(0, 89, 192);">Forrest Meng</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Treasurer: </i><p style="color: rgb(0, 89, 192);">Catherine Pak</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Webmaster: </i><p style="color: rgb(0, 89, 192);">Shreyas Chennamaraja</p></h4>
            </div>
        
            <h3 style="text-align: center; margin-top: 40px;">Faculty Sponsors</h3>
            <div class="leadership-format">
                <h4><i style="color: gray;">Sponsor: </i><p style="color: rgb(0, 89, 192);">Ilsa Tinkelman</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Sponsor: </i><p style="color: rgb(0, 89, 192);">Corey L. Lightner</p></h4>
            </div>
            <div class="leadership-format">
                <h4><i style="color: gray;">Sponsor: </i><p style="color: rgb(0, 89, 192);">Scott Savran</p></h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}
