{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/mun101.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Mun 101</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px">
                <p style="padding-top: 30px">Model United Nations (affectionately known as MUN) is a simulation of world politics wherein students take on the role of diplomats and assemble in committe to investigate, debate, and propose solutions to world issues. From massive General Assembly committees to the European Union to the cabinets of warring nations, MUN conferences offer delegates the opportunity to roleplay on a wide number of committees as the representative of many differnt countries and ministries. MUN helps students learn how to communicate, collaborate, and argue effectively, all essential life skills in any career field. Most importantly, however, MUN is FUN, and a great way to meet new friends! TJ's Model UN team is one of the biggest clubs at TJ, with more than 200 active members. </p>
                <h4 style="padding-top: 50px">Helpful Links</h4>
                 <ul style="padding-top: 10px; margin-left: 60px; list-style-type: disc;">
                   <li><a href="https://www.un.org/">United Nations</a></li> 
                   <li><a href="http://unausa.org/">United Nations Association of the USA</p></li> 
                   <li><a href="http://www.unausa.org/global-classrooms-model-un/how-to-participate">UNA-USA Guide to Model UN</a></li> 
                   <li><a href="http://www.unausa.org/global-classrooms-model-un/how-to-participate/model-un-preparation">United Nations Guide to MUN</a></li> 
                </ul>
            </div>
        </div>
    </section>
{% endblock %}