{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/gavel.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Cost Information</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                

                <p>TechMUN costs this year will be $20 per delegate and a $20 school fee. This money goes towards conference meals, maintenance, and supplies to ensure the best possible experience for delegates. Payments should be sent in a check mailed to TJHSST (address: 6560 Braddock Road, Alexandria, VA 22312) made out to TJMUN by March 20th. The last date for any delegate drops with refund is March 20th.</p>
                
                <br>
                <!--<p>Costs and Information for TechMUN 2018 will be coming soon!</p>-->
                
                
                <p>Click <a href="https://docs.google.com/forms/d/1T0feuZGPBw-Tf8ZoVJiiMSMfl2XX4_Npnuutls9-0lU">here</a> to register your school for TechMUN XXVIII!</p>
                <!--
                <p style="padding-top: 30px">Conference fees include a school registration fee of $20 and a delegate fee of $20.</p>
                <p style="padding-top: 30px">The deadline for payment is March 22nd, 2019. Please mail checks to the following address: 6560 Braddock Road, Alexandria, VA 22312. Checks are payable to Thomas Jefferson High School for Science & Technology (TJHSST) with "TechMUN" indicated on the memo line. </p>
                <p style="padding-top: 30px">This year, TechMUN will not be taking payments at the door, which means that late fees will not be applicable and all payments must be mailed to us by March 22nd at the latest. </p>
                -->
                    <!--If we have not received payment by that date, we will directly contact you to submit your payment by the following week; a late school fee and delegate fee of $30 will be applied. -->
            </div>
        </div>
        
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                <!--
                <p>Rolling Registration will also continue until April 1st. These payments should be postmarked by this date as well.</p>
                -->
            </div>
        </div>

        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                <!--
                <p>TJHSST Address: 6560 Braddock Rd, Alexandria, VA 22312</p>
                -->
            </div>
        </div>

        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 200px">
                <!--
                <p>Please feel free to contact us at <span style="color: #337ab7;">tjmodelun@gmail.com</span> with any questions you may have. Thank you for your patience and cooperation, and we hope to see you in April!</p>
                -->
            </div>
        </div>
    </section>
{% endblock %}