{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/gavel.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Invitation</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px">
                <p>Dear Esteemed Sponsors and Club Leaders,</p>
                <p style="padding-top: 20px">My name is Philip Pan and I am the Secretary General of the Thomas Jefferson High School for Science and Technology Model United Nations team.</p>
                <p style="padding-top: 20px">It is my honor and privilege to invite you to TechMUN XXVIII on April 24th-25th, 2020 at TJHSST.</p>
                <p style="padding-top: 20px">Information about committees, topics, background guides, conference policies, and more will also be posted on this website. We are excited to host a diverse and unique set of committees this year, and sincerely hope that we can offer an enriching experience for all who attend. </p>
                <p style="padding-top: 20px">Please feel free to contact us with any questions or concerns at tjmodelun@gmail.com. Our sponsors, Ms. Ilsa Tinkelman, Mr. Corey Lightner, and Dr. Scott Savran can be reached at imtinkelman@fcps.edu, cllightner@fcps.edu, and ssavran@fcps.edu. </p>
                <p style="padding-top: 20px">Thank you for your patience and cooperation, and we sincerely hope to see you in April!</p>
                <p style="padding-top: 15px">Philip Pan </p>
                <p style="padding-top: 40px">Secretary-General | TJMUN 2019-2020 and TechMUN XXVIII </p>
                <p style="padding-top: 40px">Email: tjmodelun@gmail.com </p>
                <p style="padding-top: 20px">Cell: (571)-424-3217 </p>
                <h4 style="padding-top: 50px">Faculty Sponsor: Ilsa Tinkelman</h4>
                <p style="padding-top: 15px">imtinkelman@fcps.edu</p>
            </div>
        </div>
    </section>
{% endblock %}