{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/gavel.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Registration</h1>
{% endblock %}

{% block main %}
<section class="section-padding">
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                <div class="more-features-box-text">

                
                <p>TechMUN XXVI will again be held on campus at TJHSST on <u>April 24th - 25th, 2020</u>. We take pride in our dedication to excellence, and hope that those of you who came to TechMUN last year will be excited to return this year.</p>
            
            </div>
        </div>
        <!--
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                <p>Registration for TechMUN XXVI is now unfortunately closed. We hope to see you next year!</p>
            </div>
        </div>
    -->



        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px">
                <p>Schools that register before the Priority Registration deadline will have first priority in country and committee assignments. After that, all schools will be given positions on a rolling basis until March 27th. The LAST date to drop delegates and receive a refund is March 20th as well. All checks must be mailed to TJHSST by March 20th.</p>
                <!--
                <p>Linked below is our registration form. Priority Registration is due on February 8th, priority Assignments and invoices will be sent by March 2nd, and <strong>all</strong> payments and refunded drops are due by March 8th. Delegate drops after this date are expected to pay in <u>full</u>. Rolling registration will continue until March 22nd, so long as payment is postmarked by this same date. Please visit the Cost and Info Tab for more information regarding payments.</p>
            -->
            </div>
        </div>
        
                <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 20px;">
                <p>Link to Registration: <a href="https://docs.google.com/forms/d/1T0feuZGPBw-Tf8ZoVJiiMSMfl2XX4_Npnuutls9-0lU">TechMUN XXVIII Registration</a> </p>
            </div>
        </div> 
        
        <div class="container">
            <div class="more-features-box-text-description" style="font-size: 18px; line-height: 25px; margin-bottom: 200px;">
                <p>Please contact <span style="color: #337ab7;">tjmodelun@gmail.com</span> if you have any questions regarding the registration process. Thank you for your patience and we look forward to seeing you in April!</p>
            </div>
        </div>
    </section>
{% endblock %}