{% extends 'base.html' %}

{% load static %}

{% block background %}
	{% static 'img/gavel.jpg' %}
{% endblock %}

{% block title %}
<h1 class="white">Secretariat and Staff</h1>
{% endblock %}

{% block main %}
<br>
    <br>
    <section id="doctor-team" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="ser-title">Secretariat & Directors</h2>
                    <hr class="botm-line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/philip.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Philip Pan</h3>
                      <p>Secretary-General</p>
                      <br>
                      <p>Hello Delegates, Faculty Advisors, and Friends! Welcome to TechMUN XXVIII! My name is Philip Pan and it is my pleasure to be serving as the Secretary-General of TechMUN this year. I joined Model UN as a freshman and it has been an essential part of my life ever since. Outside of MUN, you can find me working on my startup, catching up on must-read books, and delegating to my favorite USG Evan Williams. </p>
                      <br>
                      <p>Running TechMUN last year as the Director of General Staff was one of the best experiences of my life, and I’m extremely thrilled to be a part of it again for my final year in high school. Though my love for competing in Specialized Agencies is great, I’ve had an even better time working to set this conference up, and I’m excited to see the discussion and cooperation that you all will foster during TechMUN weekend. We pride ourselves on creating a conference experience where we push one another to step outside our comfort zones and grow as individuals. It’s my hope that we can create the same environment for all of our attendees. </p>
                      <br>
                      <p>Thank you all for considering TechMUN XXVIII. I look forward to meeting you all on April 24! Please feel free to email tjmodelun@gmail.com with any questions.</p>
                      <!--
                      <p>Hello and welcome to TechMUN 2018! My name is Alex Lewis and I am excited to be serving as the Secretary-General of TechMUN this year. I hope that you are all just as excited as I am to get involved in the group of fabulous committees we have prepared for the conference. Above all, my goal and the goal of the TechMUN Secretariat is to make sure that not only do you learn some valuable lessons over the course of the weekend, but also have a lot of fun. Outside of Model UN, I love to play piano, do community service through the Boy Scouts, and listen to whatever new music seems interesting. We wish you happy preparing, and cannot wait to see you all in April!</p>

                  -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/evan.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Evan Williams</h3>
                      <p>Undersecretary-General</p>
                      <br>
                      <p>Hello delegates and friends! My name is Evan Williams and it is my absolute pleasure to be your Under-Secretary-General for TechMUN XXVIII. I’m so excited to be back at TechMUN after serving as the Director of Finances and Crisis Director for A Better Chicago: Gangs of Chicago last year at TechMUN XXVII. I’ve done Model UN since my freshman year of High School, competing in a myriad of conferences, running committees, and serving on the leadership for TJMUN. Outside of MUN, you can find me playing saxophone or lacrosse, watching K-Dramas or Anime, or doing all of the work that Philip Pan doesn’t want to do. </p>
                      <br>
                      <p>Being a part of Model UN for the past four years as both a delegate and a staffer has shown me how incredible this activity can really be. From the knowledge I’ve gained to the lasting friendships I’ve formed, I hope that TechMUN can facilitate similar experiences for all of you! Thank you all for coming to TechMUN XXVIII and I can’t wait to see you in April! If you have any questions or concerns, feel free to email tjmodelun@gmail.com. </p>
                      <!--
                      <p>Hope you’re ready for TechMUN 2019! I’m Kiran Ganeshan, and I will be serving as the Under Secretary-General of TechMUN this year. It’s been a great time working to set this conference up, and I’m excited to see the discussion and cooperation that’ll take place in the variety of committees we’ve prepared for you. Delegates will have all sorts of opportunities to interact with topics they’re interested in, especially through our Crisis committees, which are bound to offer fast-paced challenges. Outside of MUN, you can catch me rowing on the Occoquan River with TJ Crew, attempting to blend in with my Indian friends despite being half white, and avoiding Atharv Gupta. Looking forward to seeing you all in April!</p>
                      <p>Hope you’re ready for TechMUN 2018! I’m Rounak Das, serving as the Under Secretary-General of TechMUN this year. It’s been a great time working to set this conference up, and I’m excited to see the discussion and cooperation that’ll take place in the variety of committees we’ve prepared for you. Delegates will have all sorts of opportunities to interact with topics they’re interested in, especially through our Crisis organ, which is bound to offer fast-paced challenges. In addition to MUN, my interests include playing the guitar, crossing names off my eatery bucket list, and only listening to musical artists with “Lil” in front of their names. Looking forward to seeing you all in April!</p>

                  -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  -->
                    </div>
                  </div>
                </div>
                <!--
                <div class="col-md-6 col-sm-3 col-xs-6">
                  <div class="thumbnail"> 
                    <img src="img/kathryn_yang2.jpg" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Sachin Jain</h3>
                      <p>Senator</p>
                      <br>
                      
                      <p>Welcome everybody and get ready for TechMUN 2018! My name is Sachin Jain and this year I have the honor of being part of the TechMUN 2018 Secretariat as Senator. From the UN Children’s Fund to Silicon Valley, 2018, this year’s iteration of TechMUN is sure to be filled with heated debate, effectively diplomacy, and countless opportunities to learn from your fellow delegates. In addition to closing my fourth year of MUN, I compete in Forensic Speech and hackathons. As a huge tech nerd, I’m excited to see what direction you drive your committees and how you take advantage of recent advancements in technology. April 20th is closer than it seems, so while we’re stuffing folders, y’all should get preparing! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com.</p>

                 
                      
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    
                    </div>
                  </div>
                </div>
                -->
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/rhosh.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Rhoshini Raghuraman</h3>
                      <p>Director of Delegations</p>
                      <br>

                      <p>Hello Delegates and Faculty Advisors! If you haven’t already gotten many emails from me about TechMUN XXVIII, allow me to formally introduce myself. I’m Rhoshini Raghuraman and I will be serving as your Director of Delegations for this conference. I’m thrilled that you all have decided to compete at TechMUN with passion, dedication, and enthusiasm that truly embody the Model UN spirit. MUN has quickly become my favorite activity in high school, from getting in heated debates over federal direct investments in committee to just exploring cities like Philly at national conferences. When I’m not writing my 11-page idea papers, you can catch me doing last-minute homework (yes, as a second semester senior) while watching any new show that pops up on Hulu, making nanoparticles, or going on gastronomical adventures with friends. </p>
                      <br>
                      <p>As for TechMUN, I challenge you all to treat this conference as a tabula rasa. Do anything you want when you want: go give that speech without any notes, go lead that large group of people, and go write that all-encompassing, multifaceted resolution paper. I hope TechMUN is a blank slate in your MUN career, whether it be your first or your last conference. During the weekend, I also know it will be stressful at times, so don’t be afraid to make a joke or two in your committees, and have some fun yourself. I know that I will. </p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/lisa.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Lisa Raj</h3>
                      <p>Director of General Staff</p>
                      <br>

                      <p>Delegates, welcome to TechMUN XXVIII! My name is Lisa Raj, and I’m absolutely thrilled to serve as your Director of General Staff this year. After joining MUN in 7th grade, it’s become such an integral part of my life, to the point where people like to tell me I have no life:) Jokes aside, MUN has provided me with some of my most cherished experiences, from competing in all types of committee from GA’s to crisis, helping TJMUN novices with last minute revisions to position papers, and meeting new people from around the country at national conferences. Outside of MUN, I love playing volleyball and softball, competing at speech tourneys, dming memes, and attempting to break-dance wherever and whenever I feel like it. </p>

                      <br>
                      <p>I strongly encourage each of you to take TechMUN as an opportunity to bring yourself out of your comfort zone, and try something new - whether it be raising your placard for the first time or writing a private directive. Feel more than welcome to wave hello, introduce yourself and share your experiences or a funny story whenever you see me! You’ll be sure to find me dropping by each committee room including yours to ensure your chairs, directors, and staffers have everything they need to provide you with the best TechMUN experience possible. I look forward to meeting you all! If at any time you have any questions or concerns, feel free to email tjmodelun@gmail.com. </p>

                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/daniel.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Daniel Li</h3>
                      <p>Crisis Czar</p>
                      <br>

                      <p>Hey delegates! My name is Daniel Li and I’m the Crisis Czar of TechMUN XXVIII. As Crisis Czar, I’ll be overseeing TechMUN’s middle school and high school crisis committees. I’ve been obsessed with MUN, and crisis in particular, ever since I stumbled into MUN freshman year. Outside of MUN, I enjoy running my school’s Chemistry Society, leading the swim team, and fishing with friends. </p>

                      <br>
                      <p>I can’t wait for all of you to see the fast-paced and innovative crisis committees we have planned for TechMUN this year. I hope that our committees will test not only your ability to think quickly and deviously, but also your ability to communicate and cooperate with your peers. If you have any questions about your committee or crisis in general, feel free to reach out to your committee chairs and directors. See you in committee!</p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/kaleena.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Kaleena Roeva</h3>
                      <p>Director of Hospitality</p>
                      <br>

                      <p>Hello Delegates!</p>
                      <p>My name is Kaleena Roeva, and I’m excited to be serving as your Director of Hospitality at TECHMUN 2020! You’ll probably see me running around committee rooms all weekend making sure you all get your samosas and candy grams! I am currently a junior and have been dedicated to Model UN for three years now. MUN has become my greatest passion and one of the most exciting parts about high school. Aside from MUN, I’m fascinated by traveling and studying languages, which is why I’m interested in pursuing international relations. In my free time, when I’m not grinding for a MUN conference, cramming for a physics test, or stressing about my grades, you can find me spending time with my friends or watching Netflix and CW. Some of my favorite shows to watch are Dynasty, Riverdale, and Scandal, so don’t hesitate to share your thoughts! </p>
                      <br>
                      <p>This year, with your participation, I will be fundraising for our annual charity. For more information, be sure to check out the tab on the TechMUN website! I look forward to meeting you all and hope you have one of your best TECHMUN experiences yet! If you have any questions, feel free to contact us at tjmodelun@gmail.com. </p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/forrest.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Forrest Meng</h3>
                      <p>Director of Media</p>
                      <br>
                      <p>Hi Delegates! I am Forrest Meng and am excited to be your Director of Media of TechMUN XXVIII this year! I joined MUN in seventh grade and have been invested in it ever since. Having competed at numerous local and national conferences, I have created many friends, learned a lot about different topics, and overall grown as a person. From working rigorously to lead resolution paper writing to infecting half a committee with the cold to titling each public directive with a meme, MUN is one of my most treasured clubs I am in. Outside of MUN, you can find me working for the school newspaper, designing a robot for my FTC team, and catching up on the latest music from Jack Harlow and 88rising. </p>
                      <br>
                      <p>TechMUN is a great opportunity to not only foster your knowledge on world events, but also a place to make friends and create lasting memories with your peers. Be bold and audacious in committee, and don’t be afraid to smile and strike a pose when you see me or my photography staff come around with a camera. I hope this TechMUN will be an experience that both we can capture and you will remember forever. Can’t wait to see you in April! If you have any questions please do not hesitate to email tjmodelun@gmail.com </p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/sonia.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Sonia Kanchan</h3>
                      <p>Director of Technology</p>
                      <br>
                      <p>Hello Delegates! My name is Sonia Kanchan and I’m thrilled to be serving as your Director of Technology. While technical difficulties often arise when organizing large scale conferences, I along with the rest of my staff will be working hard to keep TechMUN XXVIII running as smoothly as possible. Outside of MUN, you can find me frantically writing and designing pages of our newspaper, trying to remedy my music taste, or kicking a soccer ball around whenever I have a spare minute. </p>
                      <br>
                      <p>I can hardly wait to see the extensive, but efficient resolution papers that many of you will develop. I urge all delegates to keep in mind diplomacy and political climates when writing. Having participated in MUN for the past five years, I’ve learned more about the world than I thought possible, and I cherish the experiences I’ve gained and memories I’ve made. I hope you all have the opportunity to do the same at TechMUN this year. Do not hesitate to say hello and introduce yourself whenever you see me and as always, if you have any questions or concerns, feel free to email tjmodelun@gmail.com. </p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="thumbnail"> 
                    <img src="{% static 'img/vikram.jpg' %}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>Vikram Raghu</h3>
                      <p>Webmaster</p>
                      <br>
                      <p>Hey Delegates!  My name is Vikram Raghu and I am serving as your webmaster for TechMUN XXVIII. I’m also the Crisis Director for the Soviet Union, so I’ll be seeing some of you guys in committee! I’ve been doing Model UN since ninth grade and it has since become one of my favorite (and most time consuming) activities. Each conference that I have attended has left me with amazing experiences and memories that I will never forget and I hope that each and every one of you has an even more transformative experience at TechMUN!</p>
                      <br>
                      <p>Every member of TJMUN that has contributed to planning and organizing TechMUN XXVIII is fully committed to ensuring that you have the best conference experience possible. Whether you’re competing in a traditional General Assembly like World Food Programme or the more unconventional committee representing the Four Great Nations, we are certain that you will have a truly amazing time at TechMUN this Spring. I can’t wait to meet you all and good luck in your preparation!</p>
                      <!--
                      <p>Delegates, welcome to TechMUN 2018! My name is Atharv Gupta and I’m proud to be serving as your Chief of Staff for this year’s conference. I’m currently a junior and this is my 5th year in Model UN. I also serve on the club secretariat as the Arbitrator (training coordinator) and regularly travel to compete. In my scarce time outside of MUN, I play the trumpet for the our school’s jazz band, listen to music religiously (Logic), and run my own YouTube channel so peep that here: <a href="https://www.youtube.com/channel/UC42DC8OTPoVQcbJAylikOiQ.">Youtube Chanel</a>
                      <br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The few months leading up to TechMUN have been a blur of logistical details, spreadsheets, stuffing folders, and a whole host of other jobs to run this conference. I’m excited to see how our team’s hard work pays off to give you all the best TechMUN  experience possible! If you have any conference questions, please email your committees on their specified committee email or us at tjmodelun@gmail.com. See you soon!</p>
                -->
                      <!--
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    -->
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div style="padding-top: 20px;" class="col-md-12">
                    <h2 class="ser-title">SPONSOR</h2>
                    <hr class="botm-line">
                    <h3 style="padding-left: 20px; font-size: 24px; padding-bottom: 10px;">Ilsa Tinkelman</h3>
                    <h3 style="padding-left: 20px; font-size: 24px; ">Contact: imtinkelman@fcps.edu</h3>
                </div>
                <!--<div class="col-md-12" style="padding-top: 80px;">
                    <h2 class="ser-title">Website Management</h2>
                    <hr class="botm-line">
                    <h3 style="padding-left: 20px; font-size: 24px; padding-bottom: 10px;">Webmaster: Vikram Raghu</h3>
                </div>-->
            </div>
        </div>
    </section>
{% endblock %}